
@use'../custom'as*;
@use'../components/mixins'as*;

.menu{
    @include gradient;
    li {
        padding:0.915rem;
    }
    a{
        color:white ;
        text-transform: capitalize;
        font-weight: 600;
        text-shadow :1px,1px 12rem;
        font-size: 1rem;
    }
}